body{
    background-image: none, url(https://img.freepik.com/foto-gratis/fiesta-halloween_23-2148603731.jpg?w=1380&t=st=1705441782~exp=1705442382~hmac=92c7ef8119f9da5bfc73d86e3b947c4ff05527dddce0ad71a4f3d32b45a3d195);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button{
    color: black;
    size: 1000cm;
    height: 30px;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Ahorcado{
    height: 300px;
    size: 5dvh;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
}

.id-contenedor-palabra{
    position: relative;
}

.id-intentos-restantes p {
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: white;
}

.id-contenedor-palabra p {

}
